@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

nav {
  width: 100vw;
  height: 60px;
  background-color: #4056a1;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 3px 0px 3px 0px;
}

.navLeft {
  font-family: "Kaushan Script", cursive;
  font-size: 25px;
  height: 100%;
  flex: 30%;
  margin-left: 30px;
}

.navLeft h1 {
  color: #d79922;
  font-weight: 400;
}

.navRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 70%;
  height: 100%;
  margin-right: 20px;
}

.navLink {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  font-size: 20px;
}

.navLink:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
